<section id="wrapper">
    <div class="page-title-wrapper" [style.background-image]="'url('+env.breadcrumbImage+')'">
      <div class="container">
        <header class="page-header">
          <h1>Return/Refund Policy</h1>
        </header>
  
        <nav data-depth="2" class="breadcrumb">
          <ol>
            <li>
              <a [routerLink]="['/home']"><span>Home</span></a>
            </li>
  
            <li>
              <span>Return Policy</span>
            </li>
          </ol>
        </nav>
      </div>
    </div>
  
    <aside id="notifications">
      <div class="container"></div>
    </aside>
  
    <div class="container">
      <div class="row row-wrapper">
        <div id="content-wrapper" class="js-content-wrapper col-xs-12">
          <section id="main">
            <section id="content" class="page-content page-cms page-cms-3">
                <div class="container container-margin justify-text">
                <p>
                    No returns will be offered on Items that have been delivered without any damages or defects.
                </p>
                <p>
                    To report a damage in transit please get in touch with our customer care within 48 hours of delivery (Customer Care Number/email will be provided)
                </p>
                <p>
                    Our customer care team will look into the issue and revert back within 48 working hours.
                </p>
                <p>
                    Refunds will be made (i) within<b>14 working days</b>from the date of receipt of returned goods if the order is already shipped
                </p>
                <p>
                    No refunds would be given if the customer has provided a wrong or incomplete shipping address, there are X failed delivery attempts by our shipping agency and/or the package is refused by the recipient. 
                </p>
                <p>
                    All costs of return shipping need to be borne by the purchaser (Unless the item received is defective)
                </p>
            </div>
            </section>
  
            <footer class="page-footer">
              <!-- Footer content -->
            </footer>
          </section>
        </div>
      </div>
    </div>
  </section>
  