<footer id="footer" class="js-footer">
    <div class="elementor elementor-9020103">
        <div class="elementor-inner">
            <div class="elementor-section-wrap">
                <section data-id="oabsbqv"
                    class="elementor-element elementor-element-oabsbqv elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                    data-element_type="section">

                    <div class="elementor-container elementor-column-gap-extended">
                        <div class="elementor-row" style="justify-content: space-between;">
                            <div data-id="edhguev"
                                class="elementor-element elementor-element-edhguev elementor-column elementor-col-20 elementor-top-column"
                                data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div data-id="pyzlsth"
                                            class="elementor-element elementor-element-pyzlsth elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-image-box"
                                            data-element_type="image-box.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-image-box-wrapper">
                                                    <figure [routerLink]="['home']" class="elementor-image-box-img mobile-center"><img
                                                            [src]="env.shyamoni_main_logo" loading="lazy" width="50%" alt="">
                                                    </figure>
                                                    <!-- <div class="elementor-image-box-content">
                                                        <div class="elementor-image-box-description">Copyright ©
                                                            Posthemes. All Rights Reserved.</div>
                                                    </div> -->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div data-id="znjcgiz"
                                            class="elementor-element elementor-element-znjcgiz elementor-widget elementor-widget-image"
                                            data-element_type="image.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-image mobile-center">


                                                    <img [src]="env.payment_logo" loading="lazy" alt="">


                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <!-- <div data-id="qqvczjp"
                                class="elementor-element elementor-element-qqvczjp elementor-column elementor-col-20 elementor-top-column"
                                data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div data-id="qlzzovg"
                                            class="elementor-element elementor-element-qlzzovg display-block title-1 elementor-widget elementor-widget-pos_links"
                                            data-settings="{&quot;display_link&quot;:&quot;block&quot;,&quot;design&quot;:&quot;1&quot;}"
                                            data-element_type="pos_links.default">
                                            <div class="elementor-widget-container">
                                                <div class="pos-links-widget">

                                                    <h2 class="links-widget-title hidden-sm-down">
                                                        <span>Information</span>
                                                    </h2>

                                                    <h2 class="links-widget-title hidden-md-up">
                                                        <span>Information</span>
                                                    </h2>
                                                    <ul class="links-widget-content">
                                                        <li>
                                                            <a [routerLink]="['aboutus']">About us</a>
                                                        </li>
                                                        <li>
                                                            <a [routerLink]="['termsandconditions']">Terms
                                                                and conditions</a>
                                                        </li>
                                                        <li>
                                                            <a [routerLink]="['contactus']">Contact us</a>
                                                        </li>
                                                        <li>
                                                            <a [routerLink]="['privacypolicy']">Privacy Policy</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <div data-id="uljnwba"
                                class="elementor-element elementor-element-uljnwba elementor-column elementor-col-20 elementor-top-column"
                                data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div data-id="fgbdopz"
                                            class="elementor-element elementor-element-fgbdopz display-block title-1 elementor-widget elementor-widget-pos_links"
                                            data-settings="{&quot;display_link&quot;:&quot;block&quot;,&quot;design&quot;:&quot;1&quot;}"
                                            data-element_type="pos_links.default">
                                            <div class="elementor-widget-container">
                                                <div class="pos-links-widget">

                                                    <h2 class="links-widget-title hidden-sm-down">
                                                        <span>Quick links</span>
                                                    </h2>

                                                    <h2 class="links-widget-title hidden-md-up">
                                                        <!-- data-target="#footer_linkslist_fgbdopz" data-toggle="collapse"
                                                        aria-expanded="false" -->
                                                        <span>Quick links</span>
                                                        <!-- <span class="navbar-toggler collapse-icons">
                                                            <i class="material-icons add">&#xE313;</i>
                                                            <i class="material-icons remove">&#xE316;</i>
                                                        </span> -->
                                                    </h2>
                                                    <ul class="links-widget-content">
                                                        <!-- id="footer_linkslist_fgbdopz"
                                                        class=" links-widget-content collapse" -->
                                                        <!-- <li>
                                                            <a href="content/1-delivery.html">Delivery</a>
                                                        </li> -->
                                                        <li>
                                                            <a [routerLink]="['aboutus']">About us</a>
                                                        </li>
                                                        <li>
                                                            <a [routerLink]="['termsandconditions']">Terms
                                                                and conditions</a>
                                                        </li>
                                                        <li>
                                                            <a [routerLink]="['contactus']">Contact us</a>
                                                        </li>
                                                        <li>
                                                            <a [routerLink]="['privacypolicy']">Privacy Policy</a>
                                                        </li>
                                                        <!-- <li>
                                                            <a href="sitemap.html">Sitemap</a>
                                                        </li>
                                                        <li>
                                                            <a href="stores.html">Stores</a>
                                                        </li> -->
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-id="tzuwefj"
                                class="elementor-element elementor-element-tzuwefj elementor-column elementor-col-20 elementor-top-column"
                                data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div data-id="lmfpdcr"
                                            class="elementor-element elementor-element-lmfpdcr display-block title-1 elementor-widget elementor-widget-pos_links"
                                            data-settings="{&quot;display_link&quot;:&quot;block&quot;,&quot;design&quot;:&quot;1&quot;}"
                                            data-element_type="pos_links.default">
                                            <div class="elementor-widget-container">
                                                <div class="pos-links-widget">

                                                    <h2 class="links-widget-title hidden-sm-down">
                                                        <span>Custom Links</span>
                                                    </h2>

                                                    <h2 class="links-widget-title hidden-md-up">
                                                        <!-- class="links-widget-title hidden-md-up"
                                                        data-target="#footer_linkslist_lmfpdcr" data-toggle="collapse"
                                                        aria-expanded="false" -->
                                                        <span>Custom Links</span>
                                                        <!-- <span class="navbar-toggler collapse-icons">
                                                            <i class="material-icons add">&#xE313;</i>
                                                            <i class="material-icons remove">&#xE316;</i>
                                                        </span> -->
                                                    </h2>
                                                    <ul class="links-widget-content">
                                                        <!-- id="footer_linkslist_lmfpdcr"
                                                        class=" links-widget-content collapse" -->
                                                        <!-- <li>
                                                            <a href="content/2-legal-notice.html">Legal
                                                                Notice</a>
                                                        </li>
                                                        <li>
                                                            <a href="prices-drop.html">Prices drop</a>
                                                        </li>
                                                        <li>
                                                            <a href="new-products.html">New products</a>
                                                        </li>
                                                        <li>
                                                            <a href="best-sales.html">Best sales</a>
                                                        </li>
                                                        <li>
                                                            <a href="loginfd9a.html">My account</a>
                                                        </li> -->
                                                        <li>
                                                            <a [routerLink]="['shippingpolicy']">Shipping Policy</a>
                                                        </li>
                                                        <li>
                                                            <a [routerLink]="['returnpolicy']">Return Policy</a>
                                                        </li>
                                                        <li>
                                                            <a [routerLink]="['cancelpolicy']">Cancellation Policy</a>
                                                        </li>
                                                        <li>
                                                            <a [routerLink]="['privacypolicy']">Privacy Policy</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-id="cadlwry"
                                class="elementor-element elementor-element-cadlwry elementor-column elementor-col-20 elementor-top-column"
                                data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div data-id="cmvgytq"
                                            class="elementor-element elementor-element-cmvgytq elementor-widget elementor-widget-pos_title"
                                            data-element_type="pos_title.default">
                                            <div class="elementor-widget-container">
                                                <div class="pos-title-widget pos-title-1">
                                                    <h4 class="pos-title">Our Store</h4>
                                                    <!-- <p class="pos-subtitle">Find a location nearest you. <a href="#"
                                                            style="text-decoration:underline; color: #e9e9e9;">See
                                                            Our Stores</a></p> -->
                                                </div>
                                            </div>
                                        </div>
                                        <div data-id="yevnulv"
                                            class="elementor-element elementor-element-yevnulv elementor-widget elementor-widget-icon-list"
                                            data-element_type="icon-list.default">
                                            <div class="elementor-widget-container">
                                                <ul class="elementor-icon-list-items">
                                                    <li class="elementor-icon-list-item">
                                                        <a href="tel:+91 9387687985"> <span
                                                                class="elementor-icon-list-icon">
                                                                <i class="fa fa-phone"></i>
                                                            </span>
                                                            <span class="elementor-icon-list-text">+91 9387687985</span>
                                                        </a>
                                                    </li>
                                                    <li class="elementor-icon-list-item">
                                                        <a href="mailTo:careshyamoni@gmail.com"> <span
                                                                class="elementor-icon-list-icon">
                                                                <i class="fa fa-envelope-o"></i>
                                                            </span>
                                                            <span
                                                                class="elementor-icon-list-text">careshyamoni@gmail.com</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div data-id="tdyslhc"
                                            class="elementor-element elementor-element-tdyslhc pewidth-fullwidth elementor-widget elementor-widget-pos_social"
                                            data-settings="{&quot;block_width&quot;:&quot;fullwidth&quot;}"
                                            data-element_type="pos_social.default">
                                            <div class="elementor-widget-container">
                                                <div class="pos-socials-widget">
                                                    <ul>
                                                        <li>
                                                          <a href="https://www.facebook.com/shyamonicom" target="_blank"><i class="fa fa-facebook white-icon" aria-hidden="true"></i></a>
                                                        </li>
                                                        <!-- <li>
                                                            <i class="fa fa-twitter white-icon" aria-hidden="true"></i>
                                                        </li> -->
                                                        <li>
                                                           <a href="https://www.instagram.com/careshyamoni/" target="_blank"><i class="fa fa-instagram white-icon" aria-hidden="true"></i></a>
                                                        </li>
                                                        <li>
                                                           <a href="https://youtube.com/channel/UCS5q4s7iTcm0-BmHtoqmu_g" target="_blank"><i class="fa fa-youtube-play white-icon" aria-hidden="true"></i></a> 
                                                        </li>
                                                        <li>
                                                           <a href="https://api.whatsapp.com/send?phone=919387687985" target="_blank"><i class="fa fa-whatsapp white-icon" aria-hidden="true"></i></a>
                                                        </li>
                                                        <!-- <li>
                                                            <i class="fa fa-pinterest-p white-icon" aria-hidden="true"></i>
                                                        </li> -->
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section data-id="pksrgdx"
                    class="elementor-element elementor-element-pksrgdx elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                    data-element_type="section">

                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                            <div data-id="tiyafxi"
                                class="elementor-element elementor-element-tiyafxi elementor-column elementor-col-100 elementor-top-column"
                                data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div data-id="asfpiuc"
                                            class="elementor-element elementor-element-asfpiuc display-inline title-1 elementor-widget elementor-widget-pos_links"
                                            data-settings="{&quot;display_link&quot;:&quot;inline&quot;,&quot;design&quot;:&quot;1&quot;}"
                                            data-element_type="pos_links.default">
                                            <div class="elementor-widget-container">
                                                <div class="pos-links-widget">
                                                    Powered By Team Innovators
                                                    <!-- <ul id="footer_linkslist_asfpiuc"
                                                        class="not-title-links links-widget-content collapse">
                                                        <li>
                                                            <a [routerLink]="['termsandconditions']">Term
                                                                and conditions</a>
                                                        </li>
                                                        <li>
                                                            <a [routerLink]="['returnpolicy']">Return Policy</a>
                                                        </li>
                                                        <li>
                                                            <a [routerLink]="['cancelpolicy']">Cancellation Policy</a>
                                                        </li>
                                                        <li>
                                                            <a [routerLink]="['privacypolicy']">Privacy Policy</a>
                                                        </li>
                                                    </ul> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>




</footer>