.container h1{
    font-size: xx-large;
    font-weight: 500;
}
.category-header{
    margin-top: 20px;
    margin-left: 10px;
    width: 40vw;
}
.example-full-width {
    width: 100%;
  }
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .mat-expansion-panel {
    border-radius: 0;
    box-shadow: none;
  }
  .mat-expansion-panel-body {
      padding: 0;
  }
  
  .mat-expansion-panel-header {
    padding: 0; 
  }
  