<section id="wrapper">
    <div class="page-title-wrapper" [style.background-image]="'url('+env.breadcrumbImage+')'">
      <div class="container">
        <header class="page-header">
          <h1>Cancellation Policy</h1>
        </header>
  
        <nav data-depth="2" class="breadcrumb">
          <ol>
            <li>
              <a [routerLink]="['/home']"><span>Home</span></a>
            </li>
  
            <li>
              <span>Cancellation Policy</span>
            </li>
          </ol>
        </nav>
      </div>
    </div>
  
    <aside id="notifications">
      <div class="container"></div>
    </aside>
  
    <div class="container">
      <div class="row row-wrapper">
        <div id="content-wrapper" class="js-content-wrapper col-xs-12">
          <section id="main">
            <section id="content" class="page-content page-cms page-cms-3">
                <div class="container container-margin justify-text">
                <p>
                    If you have to cancel an order, please do so within <b>24 hours</b> of placing the order <b>before it is shipped</b>. It is NOT possible to cancel part of your order. We recommend you cancel the entire order and re-purchase the required quantity to simplify the transaction.
                </p>
                <p>
                    If you cancel your order before your product has shipped, we will refund the entire amount subject to deduction of charges if any and whereas you cancel your order after the shipment but before receipt of the item, the same will be liable for deduction of the two-way shipping costs.
                </p>
                <p>
                    All cancellations are subject to a cancellation charge/bank transaction charge of 2.5% of your total order value.
                </p>
                <p>
                    There are circumstances when the company might have to cancel a particular order.
                </p>
                <p>
                    Although our online stock inventory is programmed to update automatically, www.shyamoni.com reserves the right at any time after receipt of your order, to inform you via telephone or email or mobile text about a shortfall in the quantity you ordered of any item. In all such cases, we have the right to either supply you with less than the quantity you ordered or cancel your order with prior notice to you.
                </p>
            </div>
            </section>
  
            <footer class="page-footer">
              <!-- Footer content -->
            </footer>
          </section>
        </div>
      </div>
    </div>
  </section>
  