<section id="wrapper">

    <div class=" page-title-wrapper" [style.background-image]="'url('+env.breadcrumbImage+')'">
        <div class="container">

            <header class="page-header">
                <h1>
                    About us
                </h1>
            </header>


            <nav data-depth="2" class="breadcrumb">
                <ol>


                    <li>
                        <a [routerLink]="['/home']"><span>Home</span></a>
                    </li>


                    <li>
                        <span>About us</span>
                    </li>


                </ol>
            </nav>

        </div>
    </div>



    <aside id="notifications">
        <div class="container">



        </div>
    </aside>


    <div class="container">


        <div class="row row-wrapper">



            <div id="content-wrapper" class="js-content-wrapper col-xs-12">



                <section id="main">

                    <section id="content" class="page-content page-cms page-cms-4">


                        <link rel="stylesheet" href="/src/assets/css/global-346ad.css">
                        <link rel="stylesheet" href="/src/assets/css/40701031fcf.css">
                        <div class="elementor elementor-4070103">
                            <div class="elementor-inner">
                                <div class="elementor-section-wrap">
                                    <section data-id="nbawiyi"
                                        class="elementor-element elementor-element-nbawiyi elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section-content-middle elementor-section elementor-top-section"
                                        data-element_type="section">

                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">
                                                <div data-id="mwnzeqk"
                                                    class="elementor-element elementor-element-mwnzeqk elementor-column elementor-col-50 elementor-top-column"
                                                    data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div data-id="abwbdwg"
                                                                class="elementor-element elementor-element-abwbdwg elementor-widget elementor-widget-image"
                                                                data-element_type="image.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image">


                                                                        <img [src]="env.aboutImage"
                                                                            loading="lazy" alt="">


                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-id="uakepao"
                                                    class="elementor-element elementor-element-uakepao elementor-column elementor-col-50 elementor-top-column"
                                                    data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap justify-text" [innerHTML]="about">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section data-id="pxgtsii"
                                        class="elementor-element elementor-element-pxgtsii elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                                        data-element_type="section">

                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">
                                                <div data-id="eotwpvg"
                                                    class="elementor-element elementor-element-eotwpvg elementor-column elementor-col-100 elementor-top-column"
                                                    data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div data-id="rkxhjdf"
                                                                class="elementor-element elementor-element-rkxhjdf elementor-widget elementor-widget-heading"
                                                                data-element_type="heading.default">
                                                                <div class="elementor-widget-container text-center">
                                                                    <h2
                                                                    [ngClass]="innerWidth>900 ? 'elementor-heading-title elementor-size-default' : 'elementor-heading-title elementor-size-default text-center'"
                                                                        >
                                                                        Why choose us</h2>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section data-id="fsswexg"
                                        class="elementor-element elementor-element-fsswexg elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                                        data-element_type="section">

                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row" [ngClass]="innerWidth>900 ? 'elementor-row' : 'elementor-row about-us-bottom-content-mobile'">
                                                <div data-id="mfchreq"
                                                    [ngClass]="innerWidth>900 ? 'elementor-element elementor-element-mfchreq elementor-column elementor-col-25 elementor-top-column w-33' : 'elementor-element elementor-element-mfchreq elementor-column elementor-col-25 elementor-top-column w-33 about-us-bottom-item-mobile'"
                                                    data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div data-id="opgvpww"
                                                                class="elementor-element elementor-element-opgvpww elementor-view-default elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
                                                                data-element_type="icon-box.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-icon-box-wrapper">
                                                                        <div class="elementor-icon-box-icon text-center">
                                                                            <span
                                                                                class="elementor-icon elementor-animation-">
                                                                                <i class="fa fa-truck"></i>
                                                                            </span>
                                                                        </div>
                                                                        <div class="elementor-icon-box-content">
                                                                            <h3 class="elementor-icon-box-title" class="elementor-icon-box-title text-center">
                                                                                <span>Fast Shipping</span>
                                                                            </h3>
                                                                            <div class="elementor-icon-box-description text-center">
                                                                                Our products are fast in delivery</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <div data-id="atxqjlp"
                                                    class="elementor-element elementor-element-atxqjlp elementor-column elementor-col-25 elementor-top-column"
                                                    data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div data-id="wgldrfe"
                                                                class="elementor-element elementor-element-wgldrfe elementor-view-default elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
                                                                data-element_type="icon-box.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-icon-box-wrapper">
                                                                        <div class="elementor-icon-box-icon">
                                                                            <span
                                                                                class="elementor-icon elementor-animation-">
                                                                                <i class="fa fa-gift"></i>
                                                                            </span>
                                                                        </div>
                                                                        <div class="elementor-icon-box-content">
                                                                            <h3 class="elementor-icon-box-title">
                                                                                <span>Weekly Gifts Members</span>
                                                                            </h3>
                                                                            <div class="elementor-icon-box-description">
                                                                                We are your one-stop shop for nationwide
                                                                                online store.</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> -->
                                                <div data-id="ucsigsi"
                                                    [ngClass]="innerWidth>900 ? 'elementor-element elementor-element-ucsigsi elementor-column elementor-col-25 elementor-top-column w-33' : 'elementor-element elementor-element-ucsigsi elementor-column elementor-col-25 elementor-top-column w-33 about-us-bottom-item-mobile'"
                                                    data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div data-id="qhijsfn"
                                                                class="elementor-element elementor-element-qhijsfn elementor-view-default elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
                                                                data-element_type="icon-box.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-icon-box-wrapper">
                                                                        <div class="elementor-icon-box-icon text-center">
                                                                            <span
                                                                                class="elementor-icon elementor-animation-">
                                                                                <i class="fa fa-usd"></i>
                                                                            </span>
                                                                        </div>
                                                                        <div class="elementor-icon-box-content">
                                                                            <h3 class="elementor-icon-box-title text-center">
                                                                                <span>Discount Guarantee</span>
                                                                            </h3>
                                                                            <div class="elementor-icon-box-description text-center">
                                                                                Start saving straight away with discount
                                                                                offer on items.</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-id="nvtrcvw"
                                                    [ngClass]="innerWidth>900 ? 'elementor-element elementor-element-nvtrcvw elementor-column elementor-col-25 elementor-top-column w-33' : 'elementor-element elementor-element-nvtrcvw elementor-column elementor-col-25 elementor-top-column w-33 about-us-bottom-item-mobile'"
                                                    data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div data-id="tngwadz"
                                                                class="elementor-element elementor-element-tngwadz elementor-view-default elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
                                                                data-element_type="icon-box.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-icon-box-wrapper">
                                                                        <div class="elementor-icon-box-icon text-center">
                                                                            <span
                                                                                class="elementor-icon elementor-animation-">
                                                                                <i class="fa fa-support"></i>
                                                                            </span>
                                                                        </div>
                                                                        <div class="elementor-icon-box-content">
                                                                            <h3 class="elementor-icon-box-title text-center">
                                                                                <span> Online Support 24/7</span>
                                                                            </h3>
                                                                            <div class="elementor-icon-box-description text-center">
                                                                                We work for customers to make
                                                                                satisfied shoppers value.</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <!-- <section data-id="bvvmhck"
                                        class="elementor-element elementor-element-bvvmhck elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                                        data-element_type="section">

                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">
                                                <div data-id="ppmmzoc"
                                                    class="elementor-element elementor-element-ppmmzoc elementor-column elementor-col-100 elementor-top-column"
                                                    data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div data-id="epbagln"
                                                                class="elementor-element elementor-element-epbagln elementor-widget elementor-widget-heading"
                                                                data-element_type="heading.default">
                                                                <div class="elementor-widget-container">
                                                                    <h2
                                                                        class="elementor-heading-title elementor-size-default">
                                                                        Happy clients</h2>
                                                                </div>
                                                            </div>
                                                            <div data-id="gznkpit"
                                                                class="elementor-element elementor-element-gznkpit slider-arrows-center elementor-widget elementor-widget-pos_testimonials"
                                                                data-settings="{&quot;responsive&quot;:&quot;custom&quot;,&quot;items_laptop&quot;:&quot;3&quot;,&quot;items_landscape_tablet&quot;:&quot;2&quot;,&quot;items_portrait_tablet&quot;:&quot;2&quot;,&quot;items_landscape_mobile&quot;:&quot;1&quot;,&quot;items_portrait_mobile&quot;:&quot;1&quot;,&quot;items_small_mobile&quot;:&quot;1&quot;,&quot;design&quot;:&quot;1&quot;,&quot;items&quot;:3,&quot;slides_to_scroll&quot;:&quot;1&quot;}"
                                                                data-element_type="pos_testimonials.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="pos-testimonial slick-slider-block layout-1 column-desktop-3 column-tablet-2 column-mobile-1"
                                                                        data-slider_responsive="{&quot;items_laptop&quot;:3,&quot;items_landscape_tablet&quot;:2,&quot;items_portrait_tablet&quot;:2,&quot;items_landscape_mobile&quot;:1,&quot;items_portrait_mobile&quot;:1,&quot;items_small_mobile&quot;:1,&quot;scroll&quot;:true}"
                                                                        data-slider_options="{&quot;slidesToShow&quot;:3,&quot;slidesToScroll&quot;:1,&quot;autoplay&quot;:false,&quot;autoplaySpeed&quot;:3000,&quot;infinite&quot;:false,&quot;pauseOnHover&quot;:true,&quot;speed&quot;:500,&quot;arrows&quot;:true,&quot;dots&quot;:false,&quot;rows&quot;:1}">
                                                                        <div class="testimonial-item">
                                                                            <div class="testimonial-item-inner style1">
                                                                                <div class="tes-img"><img
                                                                                        src="../../assets/img/cms/sample1.png"
                                                                                        loading="auto" alt=""></div>
                                                                                <div class="tes-content-wrapper">
                                                                                    <p class="tes-content">All Perfect
                                                                                        !! I have three sites with
                                                                                        prestashop, this theme is the
                                                                                        best !! Excellent support ,
                                                                                        advice theme installation
                                                                                        package , sorry for English, are
                                                                                        Italian but I had no problem !!
                                                                                        Thank you !</p>
                                                                                    <div class="author">
                                                                                        <p class="tes-name">John Doe</p>
                                                                                        <p class="tes-title">Customer
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="testimonial-item">
                                                                            <div class="testimonial-item-inner style1">
                                                                                <div class="tes-img"><img
                                                                                        src="../../assets/img/cms/sample2.png"
                                                                                        loading="auto" alt=""></div>
                                                                                <div class="tes-content-wrapper">
                                                                                    <p class="tes-content">Perfect
                                                                                        Themes and the best of all that
                                                                                        you have many options to choose!
                                                                                        Best Support team ever!Very fast
                                                                                        responding and experts on their
                                                                                        fields! Thank you very much! Are
                                                                                        to be congratulated.</p>
                                                                                    <div class="author">
                                                                                        <p class="tes-name">Sandy Wilcke
                                                                                        </p>
                                                                                        <p class="tes-title">Customer
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="testimonial-item">
                                                                            <div class="testimonial-item-inner style1">
                                                                                <div class="tes-img"><img
                                                                                        src="../../assets/img/cms/sample3.png"
                                                                                        loading="auto" alt=""></div>
                                                                                <div class="tes-content-wrapper">
                                                                                    <p class="tes-content">Code,
                                                                                        template and others are very
                                                                                        good. The support has served me
                                                                                        immediately and solved my
                                                                                        problems when I need help. Are
                                                                                        to be congratulated. Att Renan
                                                                                        Andrade</p>
                                                                                    <div class="author">
                                                                                        <p class="tes-name">orando BLoom
                                                                                        </p>
                                                                                        <p class="tes-title">Customer
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section> -->
                                    <!-- <section data-id="xivnbwk"
                                        class="elementor-element elementor-element-xivnbwk elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                                        data-element_type="section">

                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">
                                                <div data-id="xqmhctn"
                                                    class="elementor-element elementor-element-xqmhctn elementor-column elementor-col-25 elementor-top-column"
                                                    data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div data-id="rnxivrp"
                                                                class="elementor-element elementor-element-rnxivrp elementor-widget elementor-widget-counter"
                                                                data-element_type="counter.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-counter">
                                                                        <div class="elementor-counter-number-wrapper">
                                                                            <span
                                                                                class="elementor-counter-number-prefix"></span>
                                                                            <span class="elementor-counter-number"
                                                                                data-duration="2000" data-to-value="200"
                                                                                data-delimiter=",">0</span>
                                                                            <span
                                                                                class="elementor-counter-number-suffix">+</span>
                                                                        </div>
                                                                        <div class="elementor-counter-title">MILLION
                                                                            CUSTOMERS</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-id="srygano"
                                                    class="elementor-element elementor-element-srygano elementor-column elementor-col-25 elementor-top-column"
                                                    data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div data-id="bxkltga"
                                                                class="elementor-element elementor-element-bxkltga elementor-widget elementor-widget-counter"
                                                                data-element_type="counter.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-counter">
                                                                        <div class="elementor-counter-number-wrapper">
                                                                            <span
                                                                                class="elementor-counter-number-prefix"></span>
                                                                            <span class="elementor-counter-number"
                                                                                data-duration="2000" data-to-value="180"
                                                                                data-delimiter=",">100</span>
                                                                            <span
                                                                                class="elementor-counter-number-suffix">+</span>
                                                                        </div>
                                                                        <div class="elementor-counter-title">TEAM
                                                                            MEMBERS</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-id="mgvaqrf"
                                                    class="elementor-element elementor-element-mgvaqrf elementor-column elementor-col-25 elementor-top-column"
                                                    data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div data-id="ybffajr"
                                                                class="elementor-element elementor-element-ybffajr elementor-widget elementor-widget-counter"
                                                                data-element_type="counter.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-counter">
                                                                        <div class="elementor-counter-number-wrapper">
                                                                            <span
                                                                                class="elementor-counter-number-prefix"></span>
                                                                            <span class="elementor-counter-number"
                                                                                data-duration="2000" data-to-value="24"
                                                                                data-delimiter=",">0</span>
                                                                            <span
                                                                                class="elementor-counter-number-suffix">hr</span>
                                                                        </div>
                                                                        <div class="elementor-counter-title">SUPPORT
                                                                            AVAILABLE</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-id="cxualyj"
                                                    class="elementor-element elementor-element-cxualyj elementor-column elementor-col-25 elementor-top-column"
                                                    data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div data-id="onvnfll"
                                                                class="elementor-element elementor-element-onvnfll elementor-widget elementor-widget-counter"
                                                                data-element_type="counter.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-counter">
                                                                        <div class="elementor-counter-number-wrapper">
                                                                            <span
                                                                                class="elementor-counter-number-prefix"></span>
                                                                            <span class="elementor-counter-number"
                                                                                data-duration="2000" data-to-value="99"
                                                                                data-delimiter=",">0</span>
                                                                            <span
                                                                                class="elementor-counter-number-suffix">%</span>
                                                                        </div>
                                                                        <div class="elementor-counter-title">POSITIVE
                                                                            REVIEWS</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section> -->
                                </div>
                            </div>
                        </div>











                    </section>



                    <footer class="page-footer">

                        <!-- Footer content -->

                    </footer>


                </section>



            </div>



        </div>
    </div>

</section>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
</ngx-spinner>