<section id="wrapper">
    <div class="page-title-wrapper" [style.background-image]="'url('+env.breadcrumbImage+')'">
      <div class="container">
        <header class="page-header">
          <h1>Shipping & Delivery Policy</h1>
        </header>
  
        <nav data-depth="2" class="breadcrumb">
          <ol>
            <li>
              <a [routerLink]="['/home']"><span>Home</span></a>
            </li>
  
            <li>
              <span>Shipping Policy</span>
            </li>
          </ol>
        </nav>
      </div>
    </div>
  
    <aside id="notifications">
      <div class="container"></div>
    </aside>
  
    <div class="container">
      <div class="row row-wrapper">
        <div id="content-wrapper" class="js-content-wrapper col-xs-12">
          <section id="main">
            <section id="content" class="page-content page-cms page-cms-3">
                <div class="container container-margin justify-text">
                <p>
                    This Shipping & Delivery Policy is part of our Terms and Conditions ("Terms") and should be therefore read alongside our main Terms.
                </p>
                <p>
                    Please carefully review our Shipping & Delivery Policy when purchasing our products. This policy will apply to any order you place with us.
                </p>
                <p class="h4">
                    WHAT ARE MY SHIPPING & DELIVERY OPTIONS?
                </p>
                <ul>
                    <li>
                        In-Store Pickup
                    </li>
                    <li>
                        In-store pickup is available 24 Hrs.
                    </li>
                </ul>
                <p>
                    We offer various shipping options. In most cases, a third-party supplier may be managing our inventory and will be responsible for shipping your products.
                </p>
                <p class="h4">
                    FREE SHIPPING
                </p>
                <p>
                    We offer free one day shipping for <b>Orders from Guwahati</b> .
                </p>
                <p class="h4">
                    Shipping Fees
                </p>
            We offer shipping at the following rates: <br />
            Standard: 3-12 Business Days <br />
            <ul>
                <!-- <li>
                2 KG Rs-79
                </li> -->
                <li>
                Rs. 79 for 1.01 to 2 KG 
                </li>
                <li>
                Rs. 59 for 501g to 1kg
                </li>
                <li>
                Rs. 49 for 500g & below
                </li>
            </ul>
            <p>
                If you select an expedited shipping option, we will follow up after you have placed the order with any additional shipping information.
            </p>
            <p>
                All times and dates given for delivery of the products are given in good faith but are estimates only.
            </p>
            <p>
                Once your order has been shipped, we will send you an email with tracking information
            </p>
            <p class="h4">
                DO YOU DELIVER INTERNATIONALLY?
            </p>
            We do not offer international shipping. <br /> <br />
            <p class="h4">
                ARE THERE OTHER SHIPPING RESTRICTIONS?
            </p>
            Few Pin-codes may not be covered <br /><br />
            <p class="h4">
                QUESTIONS ABOUT RETURNS?
            </p>
            If you have questions about returns, please review our Return Policy. <br /><br />
            <p class="h4">
                HOW CAN YOU CONTACT US ABOUT THIS POLICY?
            </p>
            If you have any further questions or comments, you may contact us by: <br />
            <ul>
                <li>
                    Phone: 9387687985
                </li>
                <li>
                    Email: careshyamoni@gmail.com
                </li>
            </ul>
        </div>
            </section>
  
            <footer class="page-footer">
              <!-- Footer content -->
            </footer>
          </section>
        </div>
      </div>
    </div>
  </section>
  