<div class="container main-div backgr-admin" [style.background-image]="'url('+env.adminLoginBackground+')'">
  <div class="card example-full-width-main" style="padding: 80px 0 80px 0;">
  <div class="row">
    <!-- <div class="col-md-5 backgr d-sm-none d-md-block">

    </div> -->
    <!-- <div class="col-md-7 col-sm-12 d-flex flex-column justify-content-center align-items-center py-4 "> -->
      <div class="text-center">
        <mat-icon style="color: white;" aria-hidden="false" aria-label="Example home icon"
                  >supervised_user_circle</mat-icon>
          <h2 style="color: white;">Admin Login</h2>
      </div>
        <form [formGroup]="loginForm">
          <div class="login-form">
            <div
              style="
                display: flex;
                flex-direction: column;
                justify-content: center;
              "
            >
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label style="color: white;">Phone Number</mat-label>
                <input
                  type="text"
                  name="number"
                  formControlName="username"
                  matInput
                  placeholder="Enter your username"
                />
                <mat-error *ngIf="formErrors.username">
                  {{ formErrors.username }}
                </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label style="color: white;">Password</mat-label>
                <input
                  name="password"
                  formControlName="password"
                  id="pass"
                  matInput
                  [type]="passtype"
                  placeholder="Please enter your password"
                />
                <mat-icon matSuffix (click)="changePassIcon()" style="color: white;">{{
                  visibility
                }}</mat-icon>
                <mat-error *ngIf="formErrors.password">
                  {{ formErrors.password }}
                </mat-error>
              </mat-form-field>
            </div>
            <div style="margin-top: 30px">
              <button
                mat-raised-button
                color="primary"
                style="color: white;"
                (click)="loginToAdmin()"
                [disabled]="loginForm.invalid"
              >
                Login
              </button>
            </div>
          </div>
        </form>    
      <!-- </div> -->
  </div>
</div>
</div>
