<section id="wrapper">
  <div class="page-title-wrapper" [style.background-image]="'url('+env.breadcrumbImage+')'">
    <div class="container">
      <header class="page-header">
        <h1>Forgot your password?</h1>
      </header>

      <nav data-depth="2" class="breadcrumb">
        <ol>
          <li>
            <a routerLink="/home"><span>Home</span></a>
          </li>

          <li>
            <span>Reset your password</span>
          </li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="container" style="width: 75%">
    <div class="row row-wrapper">
      <div id="content-wrapper" class="js-content-wrapper col-xs-12">
        <section id="main">
          <div id="content" class="page-content card card-block">
            <ul class="ps-alert-error"></ul>

            <header>
              <p class="send-renew-password-link">
                Please enter the email address you used to register. You will
                receive a temporary link to reset your password.
              </p>
            </header>

            <section class="form-fields">
              <div class="form-group center-email-fields">
                <form [formGroup]="forgetPasswordForm">
                  <div class="form-group row" *ngIf="!isMailSent">
                    <label
                      class="col-md-2 form-control-label required"
                      for="field-email"
                    >
                      Email address
                    </label>
                    <div class="col-md-8">
                      <div class="input-group js-parent-focus">
                        <input
                          id="field-email"
                          class="form-control js-child-focus js-visible-password"
                          name="password"
                          formControlName="email"
                          type="email"
                          value=""
                          required
                        />
                        <span class="input-group-btn">
                          <button
                            class="btn"
                            data-action="show-password"
                            data-text-show="Show"
                            data-text-hide="Hide"
                            (click)="forgetPassword()"
                            [disabled]="forgetPasswordForm.invalid || IsSubmitFPBtnDisbled"
                          >
                            Send OTP
                          </button>
                        </span>
                      </div>
                    </div>

                    <div class="col-md-2 form-control-comment text-danger">
                      {{ formErrors.email }}
                    </div>
                  </div>
                  <div
                    *ngIf="isMailSent && !isOTPVerified"
                    style="text-align: center"
                  >
                    <ng-otp-input
                      [formCtrl]="OTP"
                      [config]="{ length: 4 }"
                    ></ng-otp-input>
                  </div>

                  <div class="form-group row" style="text-align: center">
                    <div
                      *ngIf="isMailSent && !isOTPVerified"
                      class="my-4 text-center"
                    >
                      Don't recieve the OTP?
                      <button
                        style="
                          border: none;
                          background: none;
                          color: black !important;
                          cursor: pointer;
                        "
                        [disabled]="resendClick"
                        (click)="forgetPassword(); resendClick = true; timer()"
                        class="text-danger"
                      >
                        RESEND OTP
                      </button>
                    </div>
                    <div *ngIf="resendClick" class="my-4 text-center">
                      <img
                        style="width: 8%"
                        [src]="env.hourglass"
                      /><span>00:{{ timerCount }}</span>
                    </div>
                  </div>
                  <div
                    class="form-group row"
                    *ngIf="isMailSent && !isOTPVerified"
                  >
                    <button
                      class="btn"
                      data-action="show-password"
                      data-text-show="Show"
                      data-text-hide="Hide"
                      [disabled]="isOTPVerified"
                      (click)="submitOTP()"
                    >
                      Verify OTP
                    </button>
                  </div>
                </form>
                <form *ngIf="isOTPVerified" [formGroup]="passwordChangeForm">
                  <div class="form-group row">
                    <label
                      class="col-md-2 form-control-label required"
                      for="field-password"
                    >
                      Password
                    </label>
                    <div class="col-md-8">
                      <div class="input-group js-parent-focus">
                        <input
                          id="field-password"
                          class="form-control js-child-focus js-visible-password"
                          name="password"
                          formControlName="password"
                          [type]="passtype"
                          value=""
                          pattern=".{5,}"
                          required
                        />
                        <span class="input-group-btn">
                          <button
                            class="btn"
                            data-action="show-password"
                            data-text-show="Show"
                            data-text-hide="Hide"
                            (click)="changePassIcon(1)"
                          >
                            Show
                          </button>
                        </span>
                      </div>
                    </div>

                    <div
                      class="col-md-2 form-control-comment text-danger"
                      *ngIf="formErrors.password"
                    >
                      {{ formErrors.password }}
                    </div>
                    <div
                      class="col-md-2 form-control-comment text-danger"
                      *ngIf="!passAndCpassSame"
                    >
                      Password Not Match
                    </div>
                  </div>
                  <div class="form-group row">
                    <label
                      class="col-md-2 form-control-label required"
                      for="field-password"
                    >
                      Confirm Password
                    </label>
                    <div class="col-md-8">
                      <div class="input-group js-parent-focus">
                        <input
                          id="field-password"
                          class="form-control js-child-focus js-visible-password"
                          name="password"
                          [type]="cPasstype"
                          formControlName="cpassword"
                          value=""
                          pattern=".{5,}"
                          required
                        />
                        <span class="input-group-btn">
                          <button
                            class="btn"
                            data-action="show-password"
                            data-text-show="Show"
                            data-text-hide="Hide"
                            (click)="changePassIcon(2)"
                          >
                            Show
                          </button>
                        </span>
                      </div>
                    </div>

                    <div
                      class="col-md-2 form-control-comment text-danger"
                      *ngIf="formErrors.cpassword"
                    >
                      {{ formErrors.cpassword }}
                    </div>
                  </div>
                  <button
                    class="btn"
                    data-action="show-password"
                    data-text-show="Show"
                    data-text-hide="Hide"
                    [disabled]="this.passwordChangeForm.invalid"
                    (click)="resetPassword()"
                  >
                    Submit
                  </button>
                </form>
                <!-- <button
                    class="form-control-submit btn btn-primary hidden-sm-up"
                    name="submit"
                    type="submit"
                  >
                    Send
                  </button> -->
              </div>
            </section>
            <!-- </form> -->
          </div>

          <footer class="page-footer">
            <a
              id="back-to-login"
              routerLink="/login"
              class="account-link btn btn-primary"
            >
              <i class="material-icons">&#xE5CB;</i>
              <span>Back to login</span>
            </a>
          </footer>
        </section>
      </div>
    </div>
  </div>
</section>
