.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    background: rgba(255, 0, 0, 0.5);
  }

  .mat-drawer-inner-container{
      width: 30vw !important;
  }

  .left-nav{
    background-color: #4e73df;
  }